<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
	<add name="BAPS_CALENDARConnectionString" connectionString="data source=apatel-PC\akshardham;initial catalog=BAPS_CALENDAR;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
	<add name="BAPS_CALENDARConnectionString" connectionString="data source=WKSP0000A4A0\LOCALSQL;initial catalog=BAPS_CALENDAR;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	<add name="BAPS_CALENDARConnectionString" connectionString="data source=STOREFRONT;initial catalog=BAPS_CALENDAR;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
-->
<configuration>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="SiteTitle" value="BAPS Calendar Sponsership " />
    <add key="SiteName" value="Swaminarayan Aksharpith, Inc - Calendar Sponsership Application" />
    <add key="adPath2" value="C:\UploadedAD\2012" />
    <add key="adPath" value="UploadedAD" />
    <add key="ProjectYear" value="2013" />
    <add key="Root" value="BAPSWeb" />
    <add key="TestURL" value="https://test.authorize.net/gateway/transact.dll" />
    <add key="LiveURL" value="https://secure.authorize.net/gateway/transact.dll" />
    <add key="AuthorizeNetLive" value="N" />
    
    <!--BAPS AUTORIZE.NET KEY 
      Your API Login ID and Transaction Key have been successfully created.

      Current API Login ID:	7T5LS2fMz8m7
      Current Transaction Key:	6Gq6R2mYjV3jG58Q
    -->
    <add key="AuthorizeNetLogin" value="7T5LS2fMz8m7" />
    <add key="AuthorizeNetTransactionKey" value="6Gq6R2mYjV3jG58Q" />

    
    <!--<add key="AuthorizeNetLogin" value="7R9MeVw8uDN" />
    <add key="AuthorizeNetTransactionKey" value="8xQL3mH23yDw79P8" />-->
    
    
    
    <add key="OrderCancelDate" value="6/15/2013" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <connectionStrings>
	  <add name="BAPS_CALENDARConnectionString" connectionString="data source=STOREFRONT;initial catalog=BAPS_CALENDAR;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->

	 <!--add following setting for web service request-->
	<webServices>
		<protocols>
			<add name="HttpGet"/>
			<add name="HttpPost"/>
		</protocols>
	</webServices>
	  
    
    <sessionState cookieless="UseCookies" mode="InProc" timeout="4800" />
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="4.0" theme="BAPS"
   styleSheetTheme="BAPS" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Data" />
        <add namespace="System.Data.SqlClient" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <siteMap enabled="true">
      <providers>
        <add name="AdminSite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Admin/Admin.sitemap"/>
        <add name="CalendarSite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Secure/Calendar.sitemap"/>
        <add name="DesignerSite" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Designer/Designer.sitemap"/>
      </providers>
    </siteMap>
    <httpRuntime executionTimeout="3600" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="2ajaypatel@gmail.com" deliveryMethod="Network">
        <network enableSsl="true" defaultCredentials="false" host="smtp.gmail.com" port="587" userName="itsaport@gmail.com" password="akshar?10"/>
      </smtp>
    </mailSettings>
    <!--<mailSettings>
			<smtp deliveryMethod="Network" from="2ajaypatel@gmail.com">
				<network enableSsl="true" host="smtp.gmail.com" port="587" />
			</smtp>
		</mailSettings>
        <mailSettings>
            <smtp deliveryMethod="SpecifiedPickupDirectory">
                <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\pickup" />
            </smtp>
        </mailSettings>
      -->
  </system.net>
</configuration>
